.dashboard-container{
    display: grid;
}

.game-section{
    overflow-y: scroll;
    height: 100vh;
}

.show-on-mobile{
    display: grid;
}

.nav-menu{
    grid-template-columns: auto auto;
    grid-template-rows: 2em;
    padding: 10px;
    padding-bottom: 0;
    justify-content: space-between;
}

.nav-menu img{
    position: relative;
    height: 2.5em;
    top: -8px;
}

@media (min-width:767px){
    .dashboard-container{
        grid-template-columns: 20em auto;
    }
    .show-on-mobile{
        display: none;
    }
}



