.login-box{
    position: fixed;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    padding: 10px 20px;
    display: grid;
    grid-template-rows: 4em auto 4em 2em;
    border: 1px solid #eee;
    width: 24em;
}

.login-header-icon,
.login-username-field,
.login-password-field,
.login-button{
    margin: 5px 0;
}


.login-header-icon img{
    height: 75px;
    margin: 5px auto;
    position: relative;
    top: -20px;
}

.login-box-meta p{
    color: #6C7A89;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
@media (max-width:765px){
    .login-box{
        top:30%;
    }
}
