.question-box-container{
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.bonus{
    /* background-color: rgba(1, 158, 1, 0.527); */
}

.clear-fix{
    overflow: auto;
}

.clear-fix::after{
    content: "";
    clear: both;
    display: table;
}

.button-group{
    margin-top: 10px;
}